# Naive KLUE Benchmark

In [1]:
import pandas as pd
import json
from tqdm import tqdm

TRAIN = '/content/drive/MyDrive/DACON_MONTHLYNLI/train_data.csv'
TEST = '/content/drive/MyDrive/DACON_MONTHLYNLI/test_data.csv'
KLUE_TRAIN = '/content/drive/MyDrive/DACON_MONTHLYNLI/klue-nli-v1.1_train.json'
KLUE_DEV = '/content/drive/MyDrive/DACON_MONTHLYNLI/klue-nli-v1.1_dev.json'
train = pd.read_csv(TRAIN)
test = pd.read_csv(TEST)
with open(KLUE_TRAIN, "r") as train_json:
  klue_train = json.load(train_json)
with open(KLUE_DEV, "r") as dev_json:
  klue_dev = json.load(dev_json)

In [2]:
new_train = {'premise':[], 'hypothesis':[], 'label':[]}
new_dev = {'premise':[], 'hypothesis':[], 'label':[]}
for idx, data in enumerate(klue_train):
  new_train['premise'].append(data['premise'])
  new_train['hypothesis'].append(data['hypothesis'])
  new_train['label'].append(data['gold_label'])
for idx, dev_data in enumerate(klue_dev):
  new_dev['premise'].append(dev_data['premise'])
  new_dev['hypothesis'].append(dev_data['hypothesis'])
  new_dev['label'].append(dev_data['gold_label'])
new_train_df = pd.DataFrame(new_train)
new_dev_df = pd.DataFrame(new_dev)

In [3]:
train = train.drop('index', axis = 1)
train = pd.concat([train, new_dev_df])
train = train.reset_index()
display(train)

       index  ...          label
0          0  ...  contradiction
1          1  ...  contradiction
2          2  ...     entailment
3          3  ...        neutral
4          4  ...        neutral
...      ...  ...            ...
27993   2995  ...  contradiction
27994   2996  ...        neutral
27995   2997  ...     entailment
27996   2998  ...        neutral
27997   2999  ...     entailment

[27998 rows x 4 columns]

In [4]:
train = train.drop('index', axis =1)
train = train.reset_index()
display(train)

       index  ...          label
0          0  ...  contradiction
1          1  ...  contradiction
2          2  ...     entailment
3          3  ...        neutral
4          4  ...        neutral
...      ...  ...            ...
27993  27993  ...  contradiction
27994  27994  ...        neutral
27995  27995  ...     entailment
27996  27996  ...        neutral
27997  27997  ...     entailment

[27998 rows x 4 columns]

In [5]:
train.to_csv('benchmark_train_data.csv', index = False)

# Benchmarking KAKAO : File Explanations
- Kakao NLI Datasets
  - snli Dataset(Big, 500K) : Train, Test와 겹치는지 확인, 1개 겹치는 Hypothesis가 있어 제거함
  - xnli.dev Dataset(Small, 2K) : 겹치는 항목 없음
  - Data Available at : [KakaoBrain Github](https://github.com/kakaobrain/KorNLUDatasets/tree/master/KorNLI)

In [ ]:
from tqdm import tqdm

In [ ]:
import pandas as pd

TRAIN = '/content/drive/MyDrive/DACON_MONTHLYNLI/train_data.csv'
TEST = '/content/drive/MyDrive/DACON_MONTHLYNLI/test_data.csv'
NEW = '/content/drive/MyDrive/DACON_MONTHLYNLI/snli.tsv'
train = pd.read_csv(TRAIN)
test = pd.read_csv(TEST)
new = pd.read_csv(NEW, sep = '\t')

In [ ]:
new.columns = ['premise', 'hypothesis', 'label']
new

                                      premise  ...          label
0                  말을 탄 사람이 고장난 비행기 위로 뛰어오른다.  ...        neutral
1                  말을 탄 사람이 고장난 비행기 위로 뛰어오른다.  ...  contradiction
2                  말을 탄 사람이 고장난 비행기 위로 뛰어오른다.  ...     entailment
3                          카메라에 웃고 손을 흔드는 아이들  ...        neutral
4                          카메라에 웃고 손을 흔드는 아이들  ...     entailment
...                                       ...  ...            ...
550147                      네 명의 더러운 맨발의 아이들.  ...  contradiction
550148                      네 명의 더러운 맨발의 아이들.  ...        neutral
550149  한 남자가 아름다운 푸른 물에서 바디슈트를 입고 서핑을 하고 있다.  ...        neutral
550150  한 남자가 아름다운 푸른 물에서 바디슈트를 입고 서핑을 하고 있다.  ...  contradiction
550151  한 남자가 아름다운 푸른 물에서 바디슈트를 입고 서핑을 하고 있다.  ...     entailment

[550152 rows x 3 columns]

### Check (확인용으로만 실행)

In [ ]:
premise = train['premise'].tolist()
hypothesis = train['hypothesis'].tolist()
check = 0
for idx in tqdm(range(len(new))):
  query1 = new.iloc[idx]['premise']
  query2 = new.iloc[idx]['hypothesis']
  if query1 in premise:
    check += 1
    print(f"{idx} - item in new dataset[premise] is discovered in train dataset[premise]")
  if query1 in hypothesis:
    check += 1
    print(f"{idx} - item is new dataset[premise] is discovered in train dataset[hypothesis]")
  if query2  in premise:
    check += 1
    print(f"{idx} - item in new dataset[hypothesis] is discovered in train datset[premise]")
  if query2 in hypothesis:
    check +=1
    print(f"{idx} - item in new dataset[hypothesis] is discovered in train datset[hypothesis]")

if check == 0:
  print("No matches with train dataset : no data leakage")

 91%|█████████ | 500061/550152 [17:19<01:40, 496.70it/s]

499986 - item in new dataset[hypothesis] is discovered in test datset[hypothesis]

100%|██████████| 550152/550152 [19:02<00:00, 481.64it/s]

In [ ]:
premise = test['premise'].tolist()
hypothesis = test['hypothesis'].tolist()
check = 0
for idx in tqdm(range(len(new))):
  query1 = new.iloc[idx]['premise']
  query2 = new.iloc[idx]['hypothesis']
  if query1 in premise:
    check += 1
    print(f"{idx} - item in new dataset[premise] is discovered in test dataset[premise]")
  if query1 in hypothesis:
    check += 1
    print(f"{idx} - item is new dataset[premise] is discovered in test dataset[hypothesis]")
  if query2  in premise:
    check += 1
    print(f"{idx} - item in new dataset[hypothesis] is discovered in test datset[premise]")
  if query2 in hypothesis:
    check +=1
    print(f"{idx} - item in new dataset[hypothesis] is discovered in test datset[hypothesis]")

if check == 0:
  print("No matches with test dataset : no data leakage")

100%|██████████| 550152/550152 [02:25<00:00, 3775.99it/s]

No matches with test dataset : no data leakage

In [ ]:
new.iloc[499986]['hypothesis']

'방이 깨끗하다.'

In [ ]:
train['hypothesis'].tolist().index(new.iloc[499986]['hypothesis'])

1939

In [ ]:
print(train.iloc[1939])
print(new.iloc[499986])

index                             1939
premise       방도 사진과 마찬가지로 깨끗하고 훌륭합니다.
hypothesis                    방이 깨끗하다.
label                       entailment
Name: 1939, dtype: object
premise       한 여자가 벽이 그을린 지저분한 방의 책상에 서 있다.
hypothesis                          방이 깨끗하다.
label                          contradiction
Name: 499986, dtype: object

### Process

In [ ]:
odd_idx = {'idx_premise' : [], 'idx_hypothesis' : []}
for idx in tqdm(range(len(new))):
  if type(new.iloc[idx]['premise']) != str:
    odd_idx['idx_premise'].append(idx)
  if type(new.iloc[idx]['hypothesis']) != str:
    odd_idx['idx_hypothesis'].append(idx)
print(odd_idx)

100%|██████████| 550152/550152 [01:17<00:00, 7120.17it/s]

{'idx_premise': [], 'idx_hypothesis': [91479, 91480, 91481, 311124, 311125, 311126]}

In [ ]:
new = new.drop(odd_idx['idx_hypothesis'])
new

                                      premise  ...          label
0                  말을 탄 사람이 고장난 비행기 위로 뛰어오른다.  ...        neutral
1                  말을 탄 사람이 고장난 비행기 위로 뛰어오른다.  ...  contradiction
2                  말을 탄 사람이 고장난 비행기 위로 뛰어오른다.  ...     entailment
3                          카메라에 웃고 손을 흔드는 아이들  ...        neutral
4                          카메라에 웃고 손을 흔드는 아이들  ...     entailment
...                                       ...  ...            ...
550147                      네 명의 더러운 맨발의 아이들.  ...  contradiction
550148                      네 명의 더러운 맨발의 아이들.  ...        neutral
550149  한 남자가 아름다운 푸른 물에서 바디슈트를 입고 서핑을 하고 있다.  ...        neutral
550150  한 남자가 아름다운 푸른 물에서 바디슈트를 입고 서핑을 하고 있다.  ...  contradiction
550151  한 남자가 아름다운 푸른 물에서 바디슈트를 입고 서핑을 하고 있다.  ...     entailment

[550146 rows x 3 columns]

In [ ]:
new = new.drop(499986)
new

                                      premise  ...          label
0                  말을 탄 사람이 고장난 비행기 위로 뛰어오른다.  ...        neutral
1                  말을 탄 사람이 고장난 비행기 위로 뛰어오른다.  ...  contradiction
2                  말을 탄 사람이 고장난 비행기 위로 뛰어오른다.  ...     entailment
3                          카메라에 웃고 손을 흔드는 아이들  ...        neutral
4                          카메라에 웃고 손을 흔드는 아이들  ...     entailment
...                                       ...  ...            ...
550147                      네 명의 더러운 맨발의 아이들.  ...  contradiction
550148                      네 명의 더러운 맨발의 아이들.  ...        neutral
550149  한 남자가 아름다운 푸른 물에서 바디슈트를 입고 서핑을 하고 있다.  ...        neutral
550150  한 남자가 아름다운 푸른 물에서 바디슈트를 입고 서핑을 하고 있다.  ...  contradiction
550151  한 남자가 아름다운 푸른 물에서 바디슈트를 입고 서핑을 하고 있다.  ...     entailment

[550145 rows x 3 columns]

In [ ]:
train = pd.concat([train, new])

In [ ]:
train.reset_index(drop=True, inplace=True)

In [ ]:
train['index'] = train.index

In [ ]:
train.to_csv('new_big_train.csv', index = False)

# Benchmarking KLUE

In [ ]:
import pandas as pd
import json
from tqdm import tqdm

TRAIN = '/content/drive/MyDrive/DACON_MONTHLYNLI/train_data.csv'
TEST = '/content/drive/MyDrive/DACON_MONTHLYNLI/test_data.csv'
KLUE_TRAIN = '/content/drive/MyDrive/DACON_MONTHLYNLI/klue-nli-v1.1_train.json'
KLUE_DEV = '/content/drive/MyDrive/DACON_MONTHLYNLI/klue-nli-v1.1_dev.json'
train = pd.read_csv(TRAIN)
test = pd.read_csv(TEST)
with open(KLUE_TRAIN, "r") as train_json:
  klue_train = json.load(train_json)
with open(KLUE_DEV, "r") as dev_json:
  klue_dev = json.load(dev_json)

In [ ]:
new_train = {'premise':[], 'hypothesis':[], 'label':[]}
new_dev = {'premise':[], 'hypothesis':[], 'label':[]}
for idx, data in enumerate(klue_train):
  new_train['premise'].append(data['premise'])
  new_train['hypothesis'].append(data['hypothesis'])
  new_train['label'].append(data['gold_label'])
for idx, dev_data in enumerate(klue_dev):
  new_dev['premise'].append(dev_data['premise'])
  new_dev['hypothesis'].append(dev_data['hypothesis'])
  new_dev['label'].append(dev_data['gold_label'])
new_train_df = pd.DataFrame(new_train)
new_dev_df = pd.DataFrame(new_dev)

In [ ]:
h1 = set(new_dev_df['hypothesis'])
h2 = set(train['hypothesis'])

In [ ]:
print(len(h1), len(h2),len(h1^h2)) #6개가 겹칩니다.

3000 24940 27934

In [ ]:
# No train usage!
premise = train['premise'].tolist()
hypothesis = train['hypothesis'].tolist()
'''check = 0
for idx in tqdm(range(len(new_train_df))):
  query2 = new_train_df.iloc[idx]['hypothesis']
  if query2 in hypothesis:
    check +=1
    print(f"{idx} - item in new train dataset[hypothesis] is discovered in train datset[hypothesis]")

if check == 0:
  print("No matches with train dataset : no data leakage")'''

for idx in tqdm(range(len(new_dev_df))):
  query2 = new_dev_df.iloc[idx]['hypothesis']
  if query2 in hypothesis:
    check +=1
    print(f"{idx} - item in new dev dataset[hypothesis] is discovered in train datset[hypothesis]")

if check == 0:
  print("No matches with train dataset : no data leakage")

 25%|██▍       | 744/3000 [00:00<00:01, 1806.15it/s]

555 - item in new dev dataset[hypothesis] is discovered in train datset[hypothesis]

 72%|███████▏  | 2165/3000 [00:01<00:00, 1688.15it/s]

1850 - item in new dev dataset[hypothesis] is discovered in train datset[hypothesis]

100%|██████████| 3000/3000 [00:01<00:00, 1735.06it/s]

2638 - item in new dev dataset[hypothesis] is discovered in train datset[hypothesis]

In [ ]:
imposter = [555, 1850, 2638]
for id in imposter:
  s = new_dev_df['hypothesis'].tolist()[id]
  print(s, '+', new_dev_df['premise'].tolist()[id])
  matches = [idx for idx, value in enumerate(hypothesis) if value == s]
  for match in matches:
    print(hypothesis[match], '+', premise[match])
  print("###########")

모든 점이 완벽했어요. + 그치만 그것을 다 감수 할 만큼 넘 좋았어요
모든 점이 완벽했어요. + 화장실, 세탁기, 침대 모두 완벽했어요.
###########
특히 위치가 가장 좋았습니다. + 위치, 청결, 호스트친절함, 다 좋았습니다
특히 위치가 가장 좋았습니다. + 위치 및 숙소의 공간 청결도 등이 좋았습니다.
###########
방은 하나뿐입니다. + 침실은 두개이고 최대4인이 숙박가능합니다.
방은 하나뿐입니다. + 두개의 방에 킹사이즈 침대가 두개 있구요.
###########

In [ ]:
train

       index  ...          label
0          0  ...  contradiction
1          1  ...  contradiction
2          2  ...     entailment
3          3  ...        neutral
4          4  ...        neutral
...      ...  ...            ...
24993  24993  ...        neutral
24994  24994  ...     entailment
24995  24995  ...  contradiction
24996  24996  ...     entailment
24997  24997  ...        neutral

[24998 rows x 4 columns]

In [ ]:
train = train.drop('index', axis = 1)
train = pd.concat([train, new_dev_df])
train = train.reset_index()
display(train)

       index  ...          label
0          0  ...  contradiction
1          1  ...  contradiction
2          2  ...     entailment
3          3  ...        neutral
4          4  ...        neutral
...      ...  ...            ...
27993   2995  ...  contradiction
27994   2996  ...        neutral
27995   2997  ...     entailment
27996   2998  ...        neutral
27997   2999  ...     entailment

[27998 rows x 4 columns]

In [ ]:
train = train.drop('index', axis =1)
train = train.reset_index()
display(train)

       index  ...          label
0          0  ...  contradiction
1          1  ...  contradiction
2          2  ...     entailment
3          3  ...        neutral
4          4  ...        neutral
...      ...  ...            ...
27993  27993  ...  contradiction
27994  27994  ...        neutral
27995  27995  ...     entailment
27996  27996  ...        neutral
27997  27997  ...     entailment

[27998 rows x 4 columns]

In [ ]:
train.to_csv('DACON+KLUE_dev_dataset.csv', index = False)